body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }
    .navbar-inverse .notfications {
    position:relative;
    }
    .navbar-inverse .notfications .badge{
        position:absolute;
        top:8px;
       right:-1px;
       background-color:gray;
    }
    body {
        font-size: 18px;
        font-family: Lato,Cairo,"Helvetica Neue", Helvetica, Arial, sans-serif;
    }
.form-group {
    margin-bottom: 20px;
}
.form-control {
    font-size: 20px; 
    height:40px;
    border-radius:9px;
}
.form-control {
    border-color: #66afe9;
    -webkit-box-shadow : none;
    box-shadow : none;
}
.btn {

/*font-size : 17px;
padding : 7px 20px;*/
border-radius : 9px;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #ef3a3abf;
}
.navbar-brand {
font-weight:700;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}
/* index page */
.gigs {
list-style : none;
}
.gigs > li{
position : relative;
margin-bottom : 30px;
}
.gigs > li .date {
background : red;
color : white;
width:60px;
border-radius : 8px;
}
.gigs > li .date .month {
    text-transform : uppercase;
    font-size : 14px;
    font-weight : bold;
    padding : 2px 6px;
    text-align :  center;
}
    .gigs > li .date .day {
    background : white;
    color : #333;
    font-size : 20px;
    text-align : center;
    padding : 6px 12px;
    }
    .gigs > li .details {
        position: absolute;
        top: 0px;
        left: 70px;
    }
    .gigs > li .details .artist{
       font-weight : bold;
       display : block;

    }
        .gigs > li .details .genre {
          font-size : 18px;
        }
        .gigs > li .details .publisher {
        
        display:block;
        font-size:10px;
        }
.space-between{
margin-top : 40px;
}
.gigs > li .actions {
font-size:15px;
display:none;
}

.gigs > li:hover .actions {
     
    display: block;
}
ul.notifications {
list-style:none;
padding-left:0;
}
ul.notifications > li{
    border-bottom:1px solid #ddd;
    padding:10px 0;
}
    ul.notifications > li:last-child {
        border-bottom: none;
         
    }
ul.notifications .highlight {
    font-weight:bold;
}
#searchTerm {
    width: 300px
}
    #searchTerm .form-control {
        -webkit-box-shadow: none;
        box-shadow:none;
    }



/*---------------------------------------------twitter heart*/


.heart-container {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 32%;
    top: 28%;
    display:inline-block;
}
.heart {
    width: 100px;
    height: 100px;
    position: relative;
    
    transform: translate(-50%, -50%);
    background: url(images/heart.png) no-repeat;
    cursor: pointer;
    display: inline-block;
}

.heart-blast {
    background: url(images/heart.png) no-repeat;
    background-position: -2800px 0;
    transition: background 1s steps(28);
    display: inline-block;
}
.single-heart-active {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translate(-50%, -50%);
    background: url(images/heart.png) no-repeat;
    background-position: -2800px 0;
    cursor: pointer;
    display: inline-block;
}